@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header-main{
    /* border: 1px solid black; */
    background-image: linear-gradient(90deg, #0a3d62 60%, #e58e26 40%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    width: 600px;
    margin: 8% 9%;
}
.p-photo{
    border: 2px solid #0a3d62;
    margin-right: 3%;
    animation-name: image;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
.main-header p{
    letter-spacing: 2px;
    font-style:italic;
}
/* @keyframes image {
    0%{
        transform: translateY(-200px);
        opacity: 0;    
    }
    
    100% {transform: translateY(0);
    opacity: 100%;}
  } */

.main-header{
    animation-name: header;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

/* @keyframes header {
    0%{
        transform: translateX(200px);
        opacity: 0;    
    }
    
    100% {transform: translateX(0);
    opacity: 100%;}
  } */


.header h1{
    font-size: 50px;
    font-weight: 600;
    padding: 0;
    position: relative;
    margin-bottom: 30px;
    color: white;
    
}

.name::before{
    content: '';
    bottom: -15px;
    left: 0;
    width: 20%;
    height: 5px;
    background: goldenrod;
    position: absolute;
}
.header h2{
    font-size: 30px;
    color: gold;
    margin-top: 0px;
    padding: 0;
    font-weight: 400;
    margin-bottom: 20px;
}
.btn-pro{
    margin-top: 40px;
    padding: 15px 25px;
    border: none;
    background: transparent;
    color: goldenrod;
    border: 2px solid goldenrod;
    border-radius: 5px;
    transition: .3s ease-in;
    cursor: pointer;
    font-weight: 700;
    margin-right: 20px;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

  /* @keyframes example {
    0%{
        transform: translateX(-200px);
        opacity: 0;    
    }
    
    100% {transform: translateX(0);
    opacity: 100%;}
  } */

  @media screen and (max-width: 1200px) {
    .header-main{
        display: block;
        width: 100%;
        margin: 0;
        padding: 8%;
        background: #0a3d62;
    }
    .header{
        width: 100%;
        margin: 8% 9%;
    }
    .p-photo{
        display: none;
    }
  }


.btn-pro:hover{
    background: goldenrod;
    color: black;

}
.btn-pro:active{
    background: black;
    color: white;
}
.header p{
    font-size: 17px;
    color: lightgray;
}